.container {
    margin-top: 10px;
    /* display: flex;     */
    /* justify-content: center; */
    text-align: center;
    flex-direction: column;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3{
    margin-top: 15px;
    font-size: 20px;
}

p1 {
    color: rgb(51, 232, 135) ;
    margin-right: 7px;

}

.form {
    margin-top: 50px;
    margin-left: 20px;
}