h1 {
    text-align:center;
}
.container {
    width: 1000px;
    margin: auto;

}
.react-player {
    width: auto;
    height: auto;
    padding-top: 1%;

}

.react-player > div {
    position: absolute;
}

#home-video { 
    /* position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; */
    /* z-index: -100; */
    /* transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity; */
}

.home-top {
    
    margin-bottom: 90%;
}

#tagline {
    color: rgba(131, 192, 176);
    font-weight: bold;
    animation: fade-in-tag ease-out 400ms;
    text-align: start;
}

@keyframes fade-in-tag {
    0% {
        opacity: 0;
        transform: translateX(-10vw);
    }
    100% {
        opacity: 100;
    }
}