@font-face {
  /* font-family: "Vision"; */
  /* src: local(Vision), url(./assets/design/Vision/Vision-Thin.woff) format('woff'); */
}

.App {
  text-align: center;
  font-family: 'Vision';
  font: "Vision";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-default {
  height: 90%;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.background-tile {
  position: relative;
  overflow: hidden;
  /* background-image: url("../../public/Media/ear_dark.svg");
  background-repeat: repeat; */
}

.background-tile:before {
  display: block;
  background: url("../public/Media/tile-logo.png") repeat space;
  position: absolute;
  height: 100%;
  top: -150vh;
  left: -200vh;
  width: 300%;
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform-origin:  left center;
  -moz-transform-origin:  left center;
  -webkit-transform-origin:  left center;
  content: "";
  z-index: -100;
  opacity: 6%;
}
